In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one  0.311023 -0.124595
1    a  two -1.017463 -0.503885
2    b  one -0.710642 -0.574428
3    b  two  0.275992  0.524595
4    a  one -1.189784 -0.771140

In [2]:
gb = df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone -1.896223 -1.399619
b        onetwo -0.434650 -0.049832

In [3]:
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a    -1.896223 -1.399619
b    -0.434650 -0.049832