In [33]:
import yfinance as yf
import pandas as pd

#國泰金(2882.TW),新光金(2888.TW),中信金(2891.TW),台新金(2887.TW)
all_data = {ticker:yf.download(ticker) for ticker in ['2882.TW','2888.TW','2891.TW','2887.TW']}

all_data1 = {ticker:df['Adj Close'] for ticker,df in all_data.items()}
prices_df = pd.DataFrame(all_data1)

prices_df.columns = ['國泰金','新光金','中信金','台新金']
prices_df1 = prices_df.dropna()
prices_df1_2023 = prices_df1.loc['2023']

#平均差
prices_df1_2023_avg_diff = prices_df1_2023.pct_change()
prices_df1_2023_avg_diff.dropna()

#每日差
prices_df1_2023_day_diff = prices_df1_2023 - prices_df1_2023.shift(1)
prices_df1_2023_day_diff.dropna()

#相關係數
prices_df1_2023_avg_diff.corr()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

          國泰金       新光金       中信金       台新金
國泰金  1.000000  0.611739  0.560722  0.549925
新光金  0.611739  1.000000  0.396487  0.410888
中信金  0.560722  0.396487  1.000000  0.518583
台新金  0.549925  0.410888  0.518583  1.000000