In [77]:
#16 使用Groupby() 
import requests
from requests import ConnectionError,HTTPError,Timeout
url = 'https://data.ntpc.gov.tw/api/datasets/010E5B15-3823-4B20-B401-B1CF000550C5/json?page=0&size=2000'
try:
    response = requests.get(url)    
    response.raise_for_status()    
except ConnectionError:
    print('找不到伺服器')
except HTTPError:
    print('網頁找不到')
except Timeout:
    print('超過時間沒有回應')
else:
    print('沒有發生問題')

import pandas as pd
df1 = pd.DataFrame(response.json(),
                   columns=['sna','tot','sbi','sarea','ar','bemp'])

df2 = df1.rename(columns={'sna':'站名', 'sarea':'區域', 'ar':'地址', 'tot':'數量','sbi':'可借', 'bemp':'可還'})

#小心資料類型
print(df2.info())

df2[['數量', '可還', '可借']] = df2[['數量', '可還', '可借']].astype(int) # 將'數量', '可還', '可借'欄位字串資料轉換為整數
df3 = df2[['區域', '數量', '可還', '可借']]
groupby = df3.groupby(by='區域')[['數量', '可還', '可借']]
groupby.sum()

沒有發生問題
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   站名      1000 non-null   object
 1   數量      1000 non-null   object
 2   可借      1000 non-null   object
 3   區域      1000 non-null   object
 4   地址      1000 non-null   object
 5   可還      1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB
None

       數量    可還    可借
區域
三峽區  1482   885   582
三芝區   153    56    49
三重區  3592  2214  1346
中和區  3381  1914  1429
五股區   566   350   210
八里區   443   296   140
土城區  2737  1829   847
坪林區    65     0     0
新店區  2031  1352   633
板橋區  6983  4433  2498
林口區  2073  1171   881
永和區  1545   999   536
汐止區  2353  1375   933
泰山區   526   330   191
淡水區  1909  1063   841
深坑區   122    63    59
瑞芳區   204    70    44
石碇區    29     0     0
石門區    82     0     0
萬里區    99    20     7
金山區   163    80    54