In [15]:
#請產生2023年,以下金控公司,最高收盤價,最低收盤價,最高收盤價日期,最低收盤價日期
#提示,max(),min(),idxmin(),idxmax()

import yfinance as yf
import pandas as pd

#國泰金(2882.TW),新光金(2888.TW),中信金(2891.TW),台新金(2887.TW)
all_data = {ticker:yf.download(ticker) for ticker in ['2882.TW','2888.TW','2891.TW','2887.TW']}

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [16]:
all_data1 = {ticker:df['Adj Close'] for ticker,df in all_data.items()}
prices_df = pd.DataFrame(all_data1)
prices_df.columns = ['國泰金','新光金','中信金','台新金']
prices_df1 = prices_df.dropna()
prices_df1_2023 = prices_df1.loc['2023']
prices_df1_2023

                  國泰金   新光金        中信金        台新金
Date
2023-01-03  37.808990  8.80  20.349007  13.100577
2023-01-04  37.808990  8.80  20.532745  13.187336
2023-01-05  38.092911  8.88  20.762419  13.360855
2023-01-06  38.566116  8.88  20.762419  13.317475
2023-01-09  39.749123  8.96  21.267698  13.577751
...               ...   ...        ...        ...
2023-12-25  43.329659  8.69  26.602892  16.547298
2023-12-26  43.667797  8.77  26.746174  16.640261
2023-12-27  43.909325  8.87  26.841698  16.686743
2023-12-28  44.247456  8.88  27.128262  16.826187
2023-12-29  44.199154  8.85  27.080502  16.826187

[239 rows x 4 columns]

In [32]:
def call(s):
    min = s.max()
    max = s.min()
    return pd.Series([min, max],index=['最高價','最低價'])

df_high_low_value = prices_df1_2023.apply(call)
df_high_low_value

           國泰金   新光金        中信金        台新金
最高價  45.648304  9.83  27.176025  17.105072
最低價  37.808990  7.99  19.154709  13.100577

In [49]:

series1 = prices_df1_2023.idxmin()
#type(series1)
series1
#df_low_date = pd.DataFrame([series1], index=['最低價日期']).astype(str)
#df_low_date

國泰金   2023-01-03
新光金   2023-03-20
中信金   2023-03-17
台新金   2023-01-03
dtype: datetime64[ns]

In [43]:
series2 = prices_df1_2023.idxmax()
df_high_date = pd.DataFrame([series2], index=['最高價日期']).astype(str)
#df_high_date

              國泰金         新光金         中信金         台新金
最高價日期  2023-08-01  2023-08-01  2023-12-14  2023-07-26

In [45]:
df_total = pd.concat([df_high_low_value, df_low_date, df_high_date], ignore_index=False)
df_total

              國泰金         新光金         中信金         台新金
最高價     45.648304        9.83   27.176025   17.105072
最低價      37.80899        7.99   19.154709   13.100577
最低價日期  2023-01-03  2023-03-20  2023-03-17  2023-01-03
最高價日期  2023-08-01  2023-08-01  2023-12-14  2023-07-26