In [11]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4, 3),
             columns=list('bde'),
             index = ['台北', '台中', '台南', '高雄'])
frame

           b         d         e
台北  0.999559  0.081924  0.806169
台中 -0.038742 -0.114556 -2.492790
台南 -0.648575  0.547826  0.229503
高雄 -0.030736  1.177776 -1.438697

In [12]:
frame.abs()

           b         d         e
台北  0.999559  0.081924  0.806169
台中  0.038742  0.114556  2.492790
台南  0.648575  0.547826  0.229503
高雄  0.030736  1.177776  1.438697

In [13]:
# 使用 numpy function
np.abs(frame)

           b         d         e
台北  0.999559  0.081924  0.806169
台中  0.038742  0.114556  2.492790
台南  0.648575  0.547826  0.229503
高雄  0.030736  1.177776  1.438697

In [14]:
frame

           b         d         e
台北  0.999559  0.081924  0.806169
台中 -0.038742 -0.114556 -2.492790
台南 -0.648575  0.547826  0.229503
高雄 -0.030736  1.177776 -1.438697

In [20]:
frame['b'].max() - frame['b'].min()

np.float64(1.6481349490426296)

In [24]:
#建立一個 fu建立一個 function, 傳進去一個 series
def abc(s):
    return s.max() - s.min()

frame.apply(abc)

b    1.648135
d    1.292332
e    3.298959
dtype: float64