In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4, 3),
             columns=list('bde'),
             index = ['台北', '台中', '台南', '高雄'])
frame

           b         d         e
台北 -0.060879 -0.342674  1.078026
台中  0.290034 -0.099245 -0.028869
台南 -0.958622  1.226279  0.043381
高雄  2.348214  0.312753 -1.243482

In [2]:
def formap(value):
    return f'{value:.3f}%'

frame.map(formap)

          b        d        e
台北  -0.061%  -0.343%   1.078%
台中   0.290%  -0.099%  -0.029%
台南  -0.959%   1.226%   0.043%
高雄   2.348%   0.313%  -1.243%